{%- assign documents = site.documents | where_exp: "doc", "doc.search != false" -%}
{%- assign pages = site.pages | where_exp: "page", "page.search != false" -%}
{%- assign posts = site.posts | where_exp: "post", "post.search != false" -%}

{%- assign items = documents | concat: pages | concat: posts -%}

[
{%- for item in items -%}
  {
    "title": {{ item.title | jsonify }},
    "excerpt": {{ item.excerpt | strip_html | strip_newlines | jsonify }},
    "categories": {{ item.categories | jsonify }},
    "tags": {{ item.tags | jsonify }},
    "url": {{ item.url | absolute_url | jsonify }}
  }{% unless forloop.last %},{% endunless %}
{%- endfor -%}
]
